/* General Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 1vw 2vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1000;
}

.title {
    text-decoration: none;
    color: white;
    font-size: 2vw;
    font-weight: 600;
}

.menu-btn {
    font-size: 3vw;
    color: white;
    cursor: pointer;
}

/* Navigation Items */
.nav-btn-container {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    max-width: 80vw;
}

.nav-items, .menu-items {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    padding: 0.6vw;
    transition: background 0.3s ease;
    white-space: nowrap;
    border-radius: 6px;
}

.nav-items:hover, .menu-items:hover {
    background-color: darkslateblue;
    border-radius: 6px;
}

/* Active Item Style */
.active {
    background-color: darkslateblue ;
    color: white;
}

/* Mobile Menu */
.menu-items-container {
    display: flex;
    position: fixed;
    top: 10vw;
    right: 0;
    z-index: 999;
    border-radius: 0 0 0 20px;
    width: 30%;
    flex-direction: column;
    align-items: start;
    padding: 2vw 4vw;
    background-color: rgba(6, 114, 157, 0.9);
    max-height: 100vh;
    overflow-y: auto;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .title {
        font-size: 3vw;
    }
    
    .menu-btn {
        display: block;
    }
    nav{
        padding: 2vw 2vw;
    }
    .nav-btn-container {
        display: none;
    }

    .menu-items {
        font-size: 2vw;
        margin: 5% 0;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }
    nav{
        padding: 2vw 2vw;
    }
    .menu-btn {
        font-size:5vw;
        font-weight: 700;
    }

    .menu-items {
        font-size: 1rem;
    }

    .menu-items-container {
        width: 60%;
    }
}

@media screen and (min-width: 1025px) {
    .menu-btn {
        display: none;
    }
    
    .nav-btn-container {
        display: flex;
    }
}
