body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom ,black,#050596,#9e0554);
    color: white;
}

/* Small screens (max-width: 600px) */
@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 1vw 2vw;
    }

    p {
        font-size: 4vw;
    }

    button {
        padding: 8px;
        border-radius: 8px;
        background-color: blueviolet;
        color: white;
        font-size: 1em;
        cursor: pointer;
    }

    .button:hover {
        background-color: blue;
        font-size: 1.1em;
    }

    .text-button {
        background-color: white;
        color: rgb(218, 83, 225);
        font-size: 1em;
        cursor: pointer;
        font-weight: 500;
        padding: 0;
        border : 0;
    }
}

/* Medium screens (min-width: 601px and max-width: 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 1.5vw 3vw;
    }

    p {
        font-size: 3vw;
    }

    button {
        padding: 10px;
        border-radius: 10px;
        background-color: blueviolet;
        color: white;
        font-size: 1.1em;
    }

    .text-button {
        background-color: white;
        color: rgb(218, 83, 225);
        font-size: 1.1em;
        cursor: pointer;
        font-weight: 500;
        padding: 0;
        border: 0;
    }

    .button:hover {
        background-color: blue;
        font-size: 1.2em;
    }
}

/* Large screens (min-width: 1025px) */
@media screen and (min-width: 1025px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 2vw 4vw;
    }

    p {
        font-size: 2vw;
    }

    button {
        padding: 12px;
        border-radius: 12px;
        background-color: blueviolet;
        color: white;
        font-size: 1.2em;
        cursor: pointer;
    }


    .button:hover {
        background-color: blue;
        font-size: 1.3em;
    }

    .text-button {
        background-color: white;
        color: rgb(218, 83, 225);
        font-size: 1.2em;
        cursor: pointer;
        font-weight: 500;
        padding: 0;
        border: 0;
    }
}