
.skills-container > p:first-child {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 2vw 0;
 
}

.skills-grid {
    margin: 2vw 2vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    text-align: center;
}

.skills-grid p {
    font-size: 1rem;
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skills-grid p:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
    color: black;
}
    
    /* For larger screens (laptops and desktops) */
    @media screen and (min-width: 1024px) {
        .skills-grid {
            grid-template-columns: repeat(4, 1fr);
            /* 4 columns for larger screens */
        }
    
        .skills-grid p {
            font-size: 1.2rem;
        }
    }
    
    /* For medium screens  */
    @media screen and (min-width: 601px) and (max-width: 1024px) {
        .skills-grid {
            grid-template-columns: repeat(3, 1fr);
            /* 3 columns for larger screens */
        }
    
        .skills-grid p {
            font-size: 1rem;
        }
    }